export TEXMFHOME="${RIVET_HOME}/share/Rivet/texmf:$TEXMFHOME"
export HOMETEXMF="${RIVET_HOME}/share/Rivet/texmf:$HOMETEXMF"
export TEXMFCNF="${RIVET_HOME}/share/Rivet/texmf/cnf:$TEXMFCNF"
export TEXINPUTS="${RIVET_HOME}/share/Rivet/texmf/tex:$TEXINPUTS"
export LATEXINPUTS="${RIVET_HOME}/share/Rivet/texmf/tex:$LATEXINPUTS"

if (complete &> /dev/null); then
    test -e "${RIVET_HOME}/share/Rivet/rivet-completion" && source "${RIVET_HOME}/share/Rivet/rivet-completion"
fi
